.container{
    background-color: var(--color-cards);
    width: 80%;
    height: 537px;
    display: flex;
    justify-content: center;
    color: var(--color-font);
    text-align: center;
    padding: 35px;
}

.container img{
    width: 100px;
    height: 100px;
}

.container h1{
    font-size: 40px;
    margin-bottom: 50px;
}

.container span{
    font-size: 35px;
}